--
-- PostgreSQL database dump
--

-- Dumped from database version 17.8 (ad62774)
-- Dumped by pg_dump version 17.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Appointment; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Appointment" (
    id text NOT NULL,
    "parentName" text NOT NULL,
    "parentEmail" text NOT NULL,
    "parentPhone" text NOT NULL,
    reason text NOT NULL,
    "studentName" text NOT NULL,
    "studentGrade" text NOT NULL,
    status text DEFAULT 'confirmed'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "availabilityId" text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    "endTime" text NOT NULL,
    "startTime" text NOT NULL,
    "subjectName" text DEFAULT ''::text NOT NULL
);


ALTER TABLE public."Appointment" OWNER TO neondb_owner;

--
-- Name: Availability; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Availability" (
    id text NOT NULL,
    "teacherId" text NOT NULL,
    "startTime" text NOT NULL,
    "endTime" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    active boolean DEFAULT true NOT NULL,
    "dayOfWeek" integer NOT NULL,
    "isSpecial" boolean DEFAULT false NOT NULL,
    "specificDate" timestamp(3) without time zone
);


ALTER TABLE public."Availability" OWNER TO neondb_owner;

--
-- Name: ExamBooking; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."ExamBooking" (
    id text NOT NULL,
    "examScheduleId" text NOT NULL,
    "parentName" text NOT NULL,
    "parentEmail" text NOT NULL,
    "parentPhone" text NOT NULL,
    "studentName" text NOT NULL,
    "studentGrade" text NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "fileUrl" text,
    justified boolean,
    "lutoText" text,
    reason text,
    "autorizacaoText" text,
    subjects text DEFAULT ''::text NOT NULL
);


ALTER TABLE public."ExamBooking" OWNER TO neondb_owner;

--
-- Name: ExamSchedule; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."ExamSchedule" (
    id text NOT NULL,
    "subjectId" text NOT NULL,
    "subjectName" text NOT NULL,
    grade text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    "startTime" text NOT NULL,
    "endTime" text NOT NULL,
    role text DEFAULT 'geral'::text NOT NULL,
    active boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "registrationDeadline" timestamp(3) without time zone
);


ALTER TABLE public."ExamSchedule" OWNER TO neondb_owner;

--
-- Name: RecoveryBooking; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."RecoveryBooking" (
    id text NOT NULL,
    "recoveryScheduleId" text NOT NULL,
    "parentName" text NOT NULL,
    "parentEmail" text NOT NULL,
    "parentPhone" text NOT NULL,
    "studentName" text NOT NULL,
    "studentGrade" text NOT NULL,
    subjects text DEFAULT ''::text NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "fileUrl" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."RecoveryBooking" OWNER TO neondb_owner;

--
-- Name: RecoverySchedule; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."RecoverySchedule" (
    id text NOT NULL,
    "subjectId" text NOT NULL,
    "subjectName" text NOT NULL,
    grade text NOT NULL,
    type text DEFAULT 'normal'::text NOT NULL,
    period text,
    date timestamp(3) without time zone NOT NULL,
    "startTime" text NOT NULL,
    "endTime" text NOT NULL,
    role text DEFAULT 'geral'::text NOT NULL,
    active boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "registrationDeadline" timestamp(3) without time zone
);


ALTER TABLE public."RecoverySchedule" OWNER TO neondb_owner;

--
-- Name: Secretary; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Secretary" (
    id text NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    role text DEFAULT 'geral'::text NOT NULL
);


ALTER TABLE public."Secretary" OWNER TO neondb_owner;

--
-- Name: Subject; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Subject" (
    id text NOT NULL,
    name text NOT NULL,
    grade text NOT NULL
);


ALTER TABLE public."Subject" OWNER TO neondb_owner;

--
-- Name: Teacher; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Teacher" (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    phone text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    role text DEFAULT 'geral'::text NOT NULL
);


ALTER TABLE public."Teacher" OWNER TO neondb_owner;

--
-- Name: TeacherSubject; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."TeacherSubject" (
    "teacherId" text NOT NULL,
    "subjectId" text NOT NULL
);


ALTER TABLE public."TeacherSubject" OWNER TO neondb_owner;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO neondb_owner;

--
-- Data for Name: Appointment; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: Availability; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: ExamBooking; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: ExamSchedule; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: RecoveryBooking; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: RecoverySchedule; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: Secretary; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Secretary" (id, username, password, role) FROM stdin;
cmmv43xyo00007o28pimqz0uv	admin	$2a$12$rNvl49p0bj4/BRGxI7jRk..S1Lxz/w1GkjAOhgf5NITkyQF.9YvRm	geral
cmmxysv1o0001jyhvjl7b2oah	fund1	$2a$12$5q8pCrPaCLcNEQP.vo.CH.fwLLx6jVlBC/2hnWkWdKib01mEDc6Ey	fund1
cmmxysvwa0002jyhv4picq3zk	fund2	$2a$12$4U6RE7fpDTj6eflSjXMEw.sEnEWqTMrXBPrgrbKyrYcdLiMYFJ9ba	fund2
\.


--
-- Data for Name: Subject; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: Teacher; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: TeacherSubject; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Name: Appointment Appointment_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Appointment"
    ADD CONSTRAINT "Appointment_pkey" PRIMARY KEY (id);


--
-- Name: Availability Availability_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Availability"
    ADD CONSTRAINT "Availability_pkey" PRIMARY KEY (id);


--
-- Name: ExamBooking ExamBooking_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ExamBooking"
    ADD CONSTRAINT "ExamBooking_pkey" PRIMARY KEY (id);


--
-- Name: ExamSchedule ExamSchedule_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ExamSchedule"
    ADD CONSTRAINT "ExamSchedule_pkey" PRIMARY KEY (id);


--
-- Name: RecoveryBooking RecoveryBooking_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."RecoveryBooking"
    ADD CONSTRAINT "RecoveryBooking_pkey" PRIMARY KEY (id);


--
-- Name: RecoverySchedule RecoverySchedule_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."RecoverySchedule"
    ADD CONSTRAINT "RecoverySchedule_pkey" PRIMARY KEY (id);


--
-- Name: Secretary Secretary_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Secretary"
    ADD CONSTRAINT "Secretary_pkey" PRIMARY KEY (id);


--
-- Name: Subject Subject_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Subject"
    ADD CONSTRAINT "Subject_pkey" PRIMARY KEY (id);


--
-- Name: TeacherSubject TeacherSubject_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."TeacherSubject"
    ADD CONSTRAINT "TeacherSubject_pkey" PRIMARY KEY ("teacherId", "subjectId");


--
-- Name: Teacher Teacher_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Teacher"
    ADD CONSTRAINT "Teacher_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Secretary_username_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "Secretary_username_key" ON public."Secretary" USING btree (username);


--
-- Name: Appointment Appointment_availabilityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Appointment"
    ADD CONSTRAINT "Appointment_availabilityId_fkey" FOREIGN KEY ("availabilityId") REFERENCES public."Availability"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Availability Availability_teacherId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Availability"
    ADD CONSTRAINT "Availability_teacherId_fkey" FOREIGN KEY ("teacherId") REFERENCES public."Teacher"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ExamBooking ExamBooking_examScheduleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ExamBooking"
    ADD CONSTRAINT "ExamBooking_examScheduleId_fkey" FOREIGN KEY ("examScheduleId") REFERENCES public."ExamSchedule"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ExamSchedule ExamSchedule_subjectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ExamSchedule"
    ADD CONSTRAINT "ExamSchedule_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES public."Subject"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RecoveryBooking RecoveryBooking_recoveryScheduleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."RecoveryBooking"
    ADD CONSTRAINT "RecoveryBooking_recoveryScheduleId_fkey" FOREIGN KEY ("recoveryScheduleId") REFERENCES public."RecoverySchedule"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RecoverySchedule RecoverySchedule_subjectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."RecoverySchedule"
    ADD CONSTRAINT "RecoverySchedule_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES public."Subject"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: TeacherSubject TeacherSubject_subjectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."TeacherSubject"
    ADD CONSTRAINT "TeacherSubject_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES public."Subject"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: TeacherSubject TeacherSubject_teacherId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."TeacherSubject"
    ADD CONSTRAINT "TeacherSubject_teacherId_fkey" FOREIGN KEY ("teacherId") REFERENCES public."Teacher"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--

